
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-bounce1 {
  animation: bounce 1.4s infinite ease-in-out both;
}

.animate-bounce2 {
  animation: bounce 1.4s infinite ease-in-out both;
  animation-delay: -0.2s;
}

.animate-bounce3 {
  animation: bounce 1.4s infinite ease-in-out both;
  animation-delay: -0.4s;
}